# fhempy-docker
Docker Containers with [fhempy](https://github.com/fhempy/fhempy) which can be connected to [FHEM](https://fhem.de/)

# Every fhempy module comes as a seperate image.
If you want two modules, you have to start two containers.


* Debian {DEBIAN_RELEASE}
* Python {PYTHON_VERSION}
* fhempy {FHEMPY_VERSION}


# How to use with docker-compose

Running fhempy in a docker environment is done by starting the container and connect it within the same network as your fhem container: 
Example is assuming, that your FHEM network is named `net` and already defined as in [fhem-docker](https://github.com/fhem/fhem-docker/blob/dev/docker-compose.yml)

```
  fhempy:
    networks:
      - net
    image: ghcr.io/fhem/fhempy-docker-<modulename>:{IMAGE_TAG}
 ```

To start your container right away:
    
    docker run -d --name fhempy ghcr.io/fhem/fhempy-docker-<modulename>:{IMAGE_TAG}

# How to use fhempy 

As noted in the upstream repository, fhempy runs not in the same container as fhem.
So you have to follow, the remote peer setup instructions.

Example:
- Container ist named fhempy-googleweather
- FHEM and fhempy are on the same network
- Containernames can bei resolved via DNS

In FHEM a BindingsIO Definition must be defined, pointing to the container:
`define fhempy_peer_IP BindingsIo fhempy-googleweather:15733 fhempy`

# Supported Modules and their image

| Module | Image name  |
|------|-------|
{MODULES_IMAGE_LIST}
